In [1]:
import pandas as pd
import numpy as np

# handling sentiment analysis

In [42]:
df = pd.read_csv('./lg_sa_bert.csv')

In [43]:
df

                 Time Sentiment
0       2018/1/1 1:00  positive
1       2018/1/1 4:27  negative
2       2018/1/1 7:03  positive
3       2018/1/1 7:40  positive
4       2018/1/1 7:42  negative
...               ...       ...
2912  2018/5/31 16:51  positive
2913  2018/5/31 16:59  positive
2914  2018/5/31 17:24  positive
2915  2018/5/31 17:34  positive
2916  2018/5/31 18:25  positive

[2917 rows x 2 columns]

In [46]:
# convert time column to datetime format
df['Time'] = pd.to_datetime(df['Time'], format='%Y/%m/%d %H:%M')

# create a new dataframe with dates as index
dates_df = pd.DataFrame(index=pd.date_range(start=df['Time'].min().date(), end=df['Time'].max().date(), freq='D'))

# initialize count columns to 0
dates_df['positive'] = 0
dates_df['negative'] = 0
dates_df['neutral'] = 0
dates_df['none'] = 0
dates_df['count'] = 0

# loop through the original dataframe and increment counts for each date
for index, row in df.iterrows():
    date = str(row['Time'].date())
    sentiment = row['Sentiment']
    if sentiment == 'positive':
        dates_df.loc[date, 'positive'] += 1
    elif sentiment == 'negative':
        dates_df.loc[date, 'negative'] += 1
    elif sentiment == 'neutral':
        dates_df.loc[date, 'neutral'] += 1
    else:
        dates_df.loc[date, 'none'] += 1
    dates_df.loc[date, 'count'] += 1

In [47]:
dates_df

            positive  negative  neutral  none  count
2018-01-01        10         2        1     0     13
2018-01-02        28         7        1     0     36
2018-01-03        22        11        1     0     34
2018-01-04        24         8        4     0     36
2018-01-05        21         5        2     0     28
...              ...       ...      ...   ...    ...
2018-05-27        12         2        0     0     14
2018-05-28        17         7        3     0     27
2018-05-29        20         5        2     0     27
2018-05-30        24         4        1     0     29
2018-05-31        14         2        0     0     16

[151 rows x 5 columns]

In [48]:
dates_df.to_csv('./processed_day_level_sa_bert.csv')

---

In [49]:
df = pd.read_csv('./lg_sa_roberta.csv')
df

                 Time Sentiment
0       2018/1/1 1:00  positive
1       2018/1/1 4:27  positive
2       2018/1/1 7:03  positive
3       2018/1/1 7:40  positive
4       2018/1/1 7:42  negative
...               ...       ...
2912  2018/5/31 16:51  positive
2913  2018/5/31 16:59  positive
2914  2018/5/31 17:24  positive
2915  2018/5/31 17:34   neutral
2916  2018/5/31 18:25  positive

[2917 rows x 2 columns]

In [50]:
# convert time column to datetime format
df['Time'] = pd.to_datetime(df['Time'], format='%Y/%m/%d %H:%M')

# create a new dataframe with dates as index
dates_df = pd.DataFrame(index=pd.date_range(start=df['Time'].min().date(), end=df['Time'].max().date(), freq='D'))

# initialize count columns to 0
dates_df['positive'] = 0
dates_df['negative'] = 0
dates_df['neutral'] = 0
dates_df['none'] = 0
dates_df['count'] = 0

# loop through the original dataframe and increment counts for each date
for index, row in df.iterrows():
    date = str(row['Time'].date())
    sentiment = row['Sentiment']
    if sentiment == 'positive':
        dates_df.loc[date, 'positive'] += 1
    elif sentiment == 'negative':
        dates_df.loc[date, 'negative'] += 1
    elif sentiment == 'neutral':
        dates_df.loc[date, 'neutral'] += 1
    else:
        dates_df.loc[date, 'none'] += 1
    dates_df.loc[date, 'count'] += 1

In [51]:
dates_df

            positive  negative  neutral  none  count
2018-01-01        11         1        1     0     13
2018-01-02        27         7        2     0     36
2018-01-03        24         8        2     0     34
2018-01-04        25         7        4     0     36
2018-01-05        21         6        1     0     28
...              ...       ...      ...   ...    ...
2018-05-27        12         1        1     0     14
2018-05-28        17         7        3     0     27
2018-05-29        21         4        2     0     27
2018-05-30        23         4        2     0     29
2018-05-31        13         2        1     0     16

[151 rows x 5 columns]

In [52]:
dates_df.to_csv('./processed_day_level_sa_roberta.csv')

# handling aspect-based sentiment analysis

In [9]:
df = pd.read_csv('./lg_absa.csv', encoding='ISO-8859-1')
print(df.columns)
df

Index(['Unnamed: 0.1', 'Unnamed: 0', 'band', 'time', 'text', 'quality',
       'connectivity', 'usability', 'portability', 'miscellaneous', 'general',
       'operation performance', 'design features', 'price', 'Unnamed: 14',
       'Unnamed: 15'],
      dtype='object')

,Unnamed: 0.1,Unnamed: 0,band,time,text,quality,connectivity,usability,portability,miscellaneous,general,operation performance,design features,price,Unnamed: 14,Unnamed: 15
0,0,0,lg,2018/1/1 1:00,"The delivery was on time, the American girls a...",positive,none,none,none,none,positive,positive,none,none,NaN,NaN
1,1,1,lg,2018/1/1 4:27,"Product offers what promised in the ad, very f...",positive,none,none,none,none,positive,none,none,none,NaN,NaN
2,2,2,lg,2018/1/1 7:03,Very good. I recommend it. Only one point that...,none,none,none,none,none,positive,negative,none,none,NaN,NaN
3,3,3,lg,2018/1/1 7:40,Very good the mobile arrived before the deadli...,none,none,none,none,none,positive,none,none,none,NaN,NaN
4,4,4,lg,2018/1/1 7:42,I KNOW THEY WON'T PUBLISH MY EVALUATION BECAUS...,none,none,none,none,none,negative,none,none,none,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2912,2914,2914,lg,2018/5/31 16:51,"TV with great sound quality, especially in the...",positive,none,positive,none,none,positive,positive,none,none,NaN,NaN
2913,2915,2915,lg,2018/5/31 16:59,Super recommend this product is the stores als...,none,none,none,none,none,positive,none,none,none,NaN,NaN
2914,2916,2916,lg,2018/5/31 17:24,"It's the fourth LG TV I buy, for me it's the b...",positive,none,none,none,none,positive,none,none,none,NaN,NaN
2915,2917,2917,lg,2018/5/31 17:34,"Good product, came before the deadline but arr...",negative,none,none,none,none,negative,none,none,none,NaN,NaN
2916,2918,2918,lg,2018/5/31 18:25,"Great price and a very good quality! So far, o...",positive,none,none,none,none,positive,none,none,positive,NaN,NaN

In [10]:
# Drop columns starting with 'Unnamed'
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]

# Convert the 'time' column to datetime format
df['time'] = pd.to_datetime(df['time'], format='%Y/%m/%d %H:%M')


df

<ipython-input-10-7e0c6d550e23>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['time'] = pd.to_datetime(df['time'], format='%Y/%m/%d %H:%M')

,band,time,text,quality,connectivity,usability,portability,miscellaneous,general,operation performance,design features,price
0,lg,2018-01-01 01:00:00,"The delivery was on time, the American girls a...",positive,none,none,none,none,positive,positive,none,none
1,lg,2018-01-01 04:27:00,"Product offers what promised in the ad, very f...",positive,none,none,none,none,positive,none,none,none
2,lg,2018-01-01 07:03:00,Very good. I recommend it. Only one point that...,none,none,none,none,none,positive,negative,none,none
3,lg,2018-01-01 07:40:00,Very good the mobile arrived before the deadli...,none,none,none,none,none,positive,none,none,none
4,lg,2018-01-01 07:42:00,I KNOW THEY WON'T PUBLISH MY EVALUATION BECAUS...,none,none,none,none,none,negative,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...
2912,lg,2018-05-31 16:51:00,"TV with great sound quality, especially in the...",positive,none,positive,none,none,positive,positive,none,none
2913,lg,2018-05-31 16:59:00,Super recommend this product is the stores als...,none,none,none,none,none,positive,none,none,none
2914,lg,2018-05-31 17:24:00,"It's the fourth LG TV I buy, for me it's the b...",positive,none,none,none,none,positive,none,none,none
2915,lg,2018-05-31 17:34:00,"Good product, came before the deadline but arr...",negative,none,none,none,none,negative,none,none,none
2916,lg,2018-05-31 18:25:00,"Great price and a very good quality! So far, o...",positive,none,none,none,none,positive,none,none,positive

In [11]:
df.loc[0]

band                                                                    lg
time                                                   2018-01-01 01:00:00
text                     The delivery was on time, the American girls a...
quality                                                           positive
connectivity                                                          none
usability                                                             none
portability                                                           none
miscellaneous                                                         none
general                                                           positive
operation performance                                             positive
design features                                                       none
price                                                                 none
Name: 0, dtype: object

In [12]:
# Create a new dataframe with dates as index
dates_df = pd.DataFrame(index=pd.date_range(start=df['time'].min().date(), end=df['time'].max().date(), freq='D'))

# Initialize count columns to 0
sentiments = ['positive', 'negative', 'neutral', 'none']
for col in df.columns[3:]:
    for sentiment in sentiments:
        dates_df[f'{col}_{sentiment}'] = 0

dates_df['count'] = 0
        
# Loop through the original dataframe and increment counts for each date
for index, row in df.iterrows():
    date = str(row['time'].date())
    for col in df.columns[3:]:
        sentiment = row[col]
#         print(row,col,row[col])
        if sentiment == 'positive':
            dates_df.loc[date, f'{col}_positive'] += 1
        elif sentiment == 'negative':
            dates_df.loc[date, f'{col}_negative'] += 1
        elif sentiment == 'neutral':
            dates_df.loc[date, f'{col}_neutral'] += 1
        else:
            dates_df.loc[date, f'{col}_none'] += 1
    dates_df.loc[date, 'count'] += 1

In [13]:
dates_df

,quality_positive,quality_negative,quality_neutral,quality_none,connectivity_positive,connectivity_negative,connectivity_neutral,connectivity_none,usability_positive,usability_negative,...,operation performance_none,design features_positive,design features_negative,design features_neutral,design features_none,price_positive,price_negative,price_neutral,price_none,count
2018-01-01,4,0,0,9,0,1,0,12,0,0,...,9,1,0,0,12,0,0,0,13,13
2018-01-02,10,2,0,24,0,1,0,35,0,0,...,23,7,1,0,28,4,1,0,31,36
2018-01-03,5,4,0,25,0,0,0,34,2,0,...,25,9,1,0,24,3,0,0,31,34
2018-01-04,9,4,0,23,0,0,0,36,2,0,...,27,6,3,0,27,2,0,0,34,36
2018-01-05,8,1,0,19,0,0,0,28,1,0,...,22,5,0,0,23,3,0,0,25,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-05-27,6,1,0,7,0,0,0,14,3,0,...,8,5,0,0,9,3,0,0,11,14
2018-05-28,7,5,0,15,0,0,0,27,1,0,...,19,1,2,0,24,1,0,0,26,27
2018-05-29,6,1,0,20,0,0,0,27,1,0,...,20,4,1,0,22,2,1,0,24,27
2018-05-30,11,2,0,16,0,0,0,29,1,0,...,20,4,4,0,21,2,1,0,26,29
2018-05-31,9,1,0,6,0,0,0,16,2,0,...,13,3,0,0,13,2,0,0,14,16

In [14]:
dates_df.to_csv('./processed_day_level_absa.csv')

---

In [15]:
import pandas as pd
df = pd.read_csv('./best_lg_absa.csv', encoding='ISO-8859-1')
# Drop columns starting with 'Unnamed'
df = df.loc[:, ~df.columns.str.startswith('Unnamed')]

df

,band,time,text,quality,connectivity,usability,portability,miscellaneous,general,operation performance,design features,price
0,lg,2018-01-01 01:00:28,"The delivery was on time, the American girls a...",none,none,none,none,none,positive,positive,none,none
1,lg,2018-01-01 04:27:44,"Product offers what promised in the ad, very f...",positive,none,none,none,none,positive,none,none,none
2,lg,2018-01-01 07:03:27,Very good. I recommend it. Only one point that...,none,none,none,none,none,positive,positive,none,none
3,lg,2018-01-01 07:40:32,Very good the mobile arrived before the deadli...,none,none,none,none,none,positive,none,none,none
4,lg,2018-01-01 07:42:04,I KNOW THEY WON'T PUBLISH MY EVALUATION BECAUS...,none,none,none,none,none,negative,none,none,none
...,...,...,...,...,...,...,...,...,...,...,...,...
2914,lg,2018-05-31 16:51:07,"TV with great sound quality, especially in the...",positive,none,positive,none,none,none,positive,positive,none
2915,lg,2018-05-31 16:59:19,Super recommend this product is the stores als...,none,none,none,none,none,positive,none,none,none
2916,lg,2018-05-31 17:24:56,"It's the fourth LG TV I buy, for me it's the b...",none,none,none,none,none,positive,none,none,none
2917,lg,2018-05-31 17:34:58,"Good product, came before the deadline but arr...",none,none,none,none,none,positive,none,none,none
2918,lg,2018-05-31 18:25:28,"Great price and a very good quality! So far, o...",positive,none,none,none,none,positive,none,none,positive

In [16]:


# Convert the 'time' column to datetime format
df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%d %H:%M:%S')

# Create a new dataframe with dates as index
dates_df = pd.DataFrame(index=pd.date_range(start=df['time'].min().date(), end=df['time'].max().date(), freq='D'))

# Initialize count columns to 0
sentiments = ['positive', 'negative', 'neutral', 'none']
for col in df.columns[3:]:
    for sentiment in sentiments:
        dates_df[f'{col}_{sentiment}'] = 0

dates_df['count'] = 0
        
# Loop through the original dataframe and increment counts for each date
for index, row in df.iterrows():
    date = str(row['time'].date())
    for col in df.columns[3:]:
        sentiment = row[col]
#         print(row,col,row[col])
        if sentiment == 'positive':
            dates_df.loc[date, f'{col}_positive'] += 1
        elif sentiment == 'negative':
            dates_df.loc[date, f'{col}_negative'] += 1
        elif sentiment == 'neutral':
            dates_df.loc[date, f'{col}_neutral'] += 1
        else:
            dates_df.loc[date, f'{col}_none'] += 1
    dates_df.loc[date, 'count'] += 1

In [17]:
dates_df

,quality_positive,quality_negative,quality_neutral,quality_none,connectivity_positive,connectivity_negative,connectivity_neutral,connectivity_none,usability_positive,usability_negative,...,operation performance_none,design features_positive,design features_negative,design features_neutral,design features_none,price_positive,price_negative,price_neutral,price_none,count
2018-01-01,2,0,0,11,0,1,0,12,0,0,...,8,1,0,0,12,0,0,0,13,13
2018-01-02,9,2,0,25,0,1,0,35,0,0,...,24,7,2,0,27,5,2,0,29,36
2018-01-03,4,4,0,26,0,0,0,34,1,0,...,25,6,0,0,28,3,0,0,31,34
2018-01-04,9,2,0,25,0,0,0,36,1,0,...,23,6,1,0,29,2,0,0,34,36
2018-01-05,7,1,0,20,0,0,0,28,1,0,...,22,4,0,0,24,3,0,0,25,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-05-27,6,0,0,8,0,0,0,14,3,0,...,7,5,0,0,9,3,0,0,11,14
2018-05-28,6,5,0,16,0,0,0,27,1,0,...,18,3,1,0,23,1,0,0,26,27
2018-05-29,5,0,0,22,0,0,0,27,2,0,...,19,2,1,1,23,2,1,0,24,27
2018-05-30,10,2,0,17,0,0,0,29,2,0,...,15,8,0,0,21,3,0,0,26,29
2018-05-31,5,1,0,10,0,0,0,16,2,0,...,11,4,0,0,12,2,0,0,14,16

In [18]:
dates_df.to_csv('./best_processed_day_level_absa.csv')